* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.table {
  margin-top: 1%;
}
.card {
  display: block;
  padding: 0.5%;
}
.circle {
  border: 2px solid rgb(180, 241, 151);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  z-index: -10;
  display: inline-block;
}
.circle::after {
  content: '';
  background: rgb(35, 228, 9);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5%;
  height: 5%;
  z-index: 10;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.needle-big {
  display: initial;
  background: rgb(63, 32, 32);
  position: absolute;
  height: 50%;
  width: 2.25%;
  left: 48.8%;
  transform-origin: 50% 100%;
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transition: transform 1s linear;
  -webkit-transition: transform 1s linear;
  -moz-transition: transform 1s linear;
  -ms-transition: transform 1s linear;
  -o-transition: transform 1s linear;
  z-index: 5;
}
/*
IMPORTANT NOTE
different between animation and transition:
Animation is like a loop, you have to careful about the 
position from where and you start an animation and where you end an animation, this is break the spontenity of the animation if not done properly

Transition is a change in motion, the final result will be different than then the intial
*/
/*animation: rotate 2s linear;
  -webkit-animation: rotate 2s;
  transition: all 1s;
  ,-this will cause issue in rotation.so be specific while doing transition*/

/*animation: rotate 60s (how much time to take to rotate) infinite(how many times to do full animation) linear/steps(60) (how to do rotation default starting and slowing down, linear: same speed always, steps: how many step to complete the single rotation);*/
/* @keyframes rotate {
  100% {
    transform: rotateZ(60deg);
    -webkit-transform: rotateZ(60deg);
    -moz-transform: rotateZ(60deg);
    -ms-transform: rotateZ(60deg);
    -o-transform: rotateZ(60deg);
  }
} */

.needle-small {
  display: initial;
  background: rgb(45, 148, 243);
  position: absolute;
  top: 21%;
  left: 48.5%;
  transform-origin: 49% 100%;
  height: 30%;
  width: 2.5%;
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transition: transform 1s linear;
  -webkit-transition: transform 1s linear;
  -moz-transition: transform 1s linear;
  -ms-transition: transform 1s linear;
  -o-transition: transform 1s linear;
  z-index: 6;
}
